{
    "kafka" : {
        "host_ip": "{{ getv "/kafka/host/ip" "10.28.11.49:9092" }}",
        "topic": "{{ getv "/kafka/topic" "topic-test-132" }}",
        "group_id": "{{ getv "/kafka/group/id" "task_group_1" }}",
        "auto_commit": "{{ getv "/kafka/auto/commit" "False" }}",
        "offset_reset": "{{ getv "/kafka/offest/reset" "latest" }}",
        "poll_timeout_milliseconds": {{ getv "/kafka/poll/timeout/milliseconds" "270000000" }},
        "poll_records": {{ getv "/kafka/poll/records" "1" }}
    },
    "input_output": {
        "output_srs": "{{ getv "/input/output/output/srs" "EPSG:4326" }}",
        "output_format": "{{ getv "/input/output/output/format" "GPKG" }}",
        "folder_path": "{{ getv "/input/output/folder/path" "./outputs" }}"
    },
    "logger": {
        "level": "{{ getv "/logger/level" "INFO" }}",
        "date_format": "{{ getv "/logger/date/format" "%Y-%m-%d %H:%M:%S" }}",
        "filename": "{{ getv "/logger/filename" "ew_logs.log"}}",
        "format": "{{ getv "/logger/format" "%(asctime)s [%(levelname)s]  %(message)s" }}"
    },
    "task_fields": {{ getv "/task/fields" "[\"filename\", \"url\", \"bbox\", \"taskId\"]" }}
}
