{
    "kafka" : {
        "host_ip": {{ getv "/configuration/exporter/worker/kafka/host/ip" "[\"10.28.11.49:9092\"]" }},
        "topic": "{{ getv "/configuration/exporter/worker/kafka/topic" "topic-test-101" }}",
        "group_id": "{{ getv "/configuration/exporter/worker/kafka/group/id" "task_group_1" }}",
        "offset_reset": "{{ getv "/configuration/exporter/worker/kafka/offest/reset" "earliest" }}",
        "poll_timeout_milliseconds": {{ getv "/configuration/exporter/worker/kafka/poll/timeout/milliseconds" "270000000" }},
        "poll_records": {{ getv "/configuration/exporter/worker/kafka/poll/records" "1" }}
    },
    "input_output": {
        "output_srs": "{{ getv "/configuration/exporter/worker/input/output/output/srs" "EPSG:4326" }}",
        "output_format": "{{ getv "/configuration/exporter/worker/input/output/output/format" "GPKG" }}",
        "external_physical_path": "{{ getv "/configuration/exporter/worker/input/output/external/physical/path" ""}}",
        "internal_outputs_path": "{{ getv "/configuration/exporter/worker/input/output/internal/outputs/path" "./outputs"}}"
    },
    "logger": {
        "level": "{{ getv "/configuration/exporter/worker/logger/level" "INFO" }}",
        "filename": "{{ getv "/configuration/exporter/worker/logger/filename" "ew_logs.log"}}"
    },
    "commonstorage": {
        "url": "{{ getv "/configuration/exporter/worker/commonstorage/url" "http://127.0.0.1:8080" }}"
    },
    "max_attempts": {{ getv "/configuration/exporter/worker/max/attempts" "3" }},
    "mandatory_task_fields": ["fileName", "url", "bbox", "taskId", "directoryName"]
}
